header {
    width: 100%;
    background-color: #24252A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    -webkit-box-shadow: 0px 15px 15px -4px hsla(180,29%,50%,20%);
        -moz-box-shadow: 0px 15px 15px -4px hsla(180,29%,50%,20%);
        box-shadow: 0px 15px 15px -4px hsla(180,29%,50%,20%);
}

.logo, .navigation_link a, strong {
    color: #FFF;
}

.navigation {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation_link {
    list-style: none;
    padding: 10px;
    transition: 0.5s;
    border-bottom: 3px solid transparent
}

.navigation_link:hover {
    border-bottom-color: #FFF;
}

.navigation_link a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.cart {
    
}

.cart a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
}

.cart strong {
    transition: 0.5s;
    padding: 10px 0;
    margin-right: 5px;
    border-bottom: 3px solid transparent;
}

.cart strong:hover {
    border-bottom-color: #FFF;
}