header {
    width: 100%;
    background-color: hsl(180, 29%, 50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.navigation {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation_link {
    list-style: none;
}

.navigation_link a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart a {
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    color: #000;
}