header {
    width: 100%;
    background-color: #24252A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.logo, .navigation_link a, strong {
    color: #FFF;
}

.navigation {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation_link {
    list-style: none;
    padding: 10px;
    transition: 0.5s;
    border-bottom: 3px solid transparent
}

.navigation_link:hover {
    border-bottom-color: #FFF;
}

.navigation_link a {
    text-decoration: none;
    font-size: 16px;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart a {
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
}